<p id="notice"><%= notice %></p>

<h1>Groups</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
       <td>Creator </td>
       <td></td>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.title %></td>
        <td><%= simple_format(group.description) %></td>
        <td><%= group.user.email %></td>
         <td><%= group.released_on %></td>
         <td><%= link_to("文章集合", group.url_address) %></td>
         <td>
           <a href="<%= group.url_address %>" target="_new"><%= group.url_address %></a>
           <a href="http://courses.growthschool.com/courses/rails-101/" target=_new>xdite</a>
         </td>
        <% if current_user && current_user = group.user %>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
